<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">New Work Order For <?php echo $name; ?></h1>
        <hr>
        <form role="form" action="../php/add-work-order.php" method = "post">
          <input type = "hidden" name = "accountID" id = "accountID" value = "<?php echo $accountID; ?>">
          <div class="row">
            <div class="form-group col-lg-2">
              <label>Date</label>
              <input  type="date" class="form-control" name = "date" id = "date" required>
            </div>
            <div class="form-group col-lg-2">
              <label>Price</label>
              <input type="number" class="form-control" name = "price" id = "price" 
                     min = "0" step = "5" required>
            </div>
            <div class="form-group col-lg-2">
              <label>Paid</label><br>
              <select name = "paid" id = "paid">
                <option value="No" selected>No</option>  
                <option value="Yes">Yes</option>
              </select>
            </div>
            <div class="form-group col-lg-12">
              <label>Job Description</label>
              <textarea class="form-control" rows="2" name = "note" id = "note" required></textarea>
            </div>

            <div class="form-group">
              <div class="clearfix"></div>
              <div class="form-group col-lg-12 text-center">
                <input type="hidden" name="save" value="contact">
                <button type="submit" class="btn btn-default">Submit Work Order</button>
                <button type="reset" class="btn btn-default">Clear Form</button>
              </div>
            </div>
            </form>
          </div>
      </div>
    </div>
  </div>

</div>