    <footer>
      <br><br>
      <div class="container">
        <div class="row">
          <a href="http://www.facebook.com/sharpcutlawns">
            <img class="img-responsive img-border" src="../img/facebook-like-us-xs.jpg" alt="Like Sharp Cut on Facebook">
          </a>
          <br><br>
          <div class="col-lg-2 text-center">
            <a href="../index.php">Home</a>
          </div>
          <div class="col-lg-2 text-center">
            <a href="../view/services.php">Services</a>
          </div>
          <div class="col-lg-2 text-center">
            <a href="../view/testimonials.php">Testimonials</a>
          </div>
          <div class="col-lg-2 text-center">
            <a href="../view/manage-account.php">Account Management</a>
          </div>
           <div class="col-lg-2 text-center">
            <a href="../view/contact.php">Contact Sharp Cut</a>
          </div>
          <div class="col-lg-2 text-center">
            <a href="../view/manage-account.php">Create Account</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; 2014 Sharp Cut Lawn Service</p>
          </div>
        </div>
      </div>
    </footer>
   <script src="../js/main.js"></script>  