<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Lawn Care</h1>
        <hr>
      </div>
      <div class="col-md-4">
        <img class = "img-responsive" src="../img/mower-thumbnail.jpg" alt="Lawn Mower">
      </div>
      <div class="col-md-8">
        <p>Sharp Cut originated in 2002 as a part time family owned lawn cutting service, 
          operated by James Johnson and his son Justin. Get an estimate today by <a href="../view/contact.php">
          leaving a message</a> on our contacts page if you are interested in having your lawn cut. Sharp Cut
          requires no annual contracts and offers very affordable prices that are gauranteed to beat 
          the local competition. Whether you just need a one time cut while on vacation, or if you want
          to find someone to care for your lawn for the upcoming season or years to follow, 
          Sharp Cut may very well be the company for you!
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Lawn Health and Nutrition</h1>
        <hr>
      </div>
      <div class="col-md-8">
        <p>Sharp Cut has the experience and knowledge that your lawn needs to flourish to it's full potential.
          Many properties are unknowingly left malnourished and saturated with weeds. With the proper
          nutrients to feed your lawn and aeration techniques that will allow your soil to breathe, your lawn
          will come to life in no time at all! Leave a message on our <a href="../view/contact.php">
          contacts page </a> and Sharp Cut will determine what steps need to be taken to bring your lawn
          back to life again!
      </div>
      <div class="col-md-4">
        <img class = "img-responsive" src="../img/lawn-nutrition.jpg" alt="Lawn Nutrition and Fertilization">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Pesticide Application</h1>
        <hr>
      </div>
      <div class="col-md-4">
        <img class = "img-responsive" src="../img/pesticide.jpg" alt="Pesticide Application">
      </div>
      <div class="col-md-8">
        <p>Sharp Cut is licensed by the State of NJ to safely remove any unwanted insecticides, herbicides,
          fungicides, and others pests that you may come across. Whether you already know that your lawn needs
          to be treated, or if you are unsure and want to determine if it is necessary, Sharp Cut can help
          you find a safe and effective solution. <a href="../view/contact.php">Leave a message</a> and set
          up a free evaluation.
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Heavy Lifting &amp; Debris Removal</h1>
        <hr>
      </div>
      <div class="col-md-8">
        <p>Sharp Cut is equipped with heavy lifting machinery to help out with a number of jobs that you may have
          planned. Tree and waste removal is no great feat for SharpCut. If you have plans for a big
          project this season and think SharpCut may be able to help, visit our <a href="../view/contact.php">
          contacts page</a> and find out within 48 hours. It never hurts to ask!
      </div>
      <div class="col-md-4">
        <img class = "img-responsive" src="../img/kubota-thumbnail.jpg" alt="Kubota Tractor">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Snow Removal</h1>
        <hr>
      </div>
      <div class="col-md-4">
        <img class = "img-responsive"  src="../img/plow-thumbnail.jpg" alt="Snow Plow">
      </div>
      <div class="col-md-8">
        <p>We stay busy during the off-season removing snow from both residential and commercial 
          properties. Plowing parking lots, shoveling sidewalks, salting pavement to prevent from winter
          slips and falls - all services that Sharp Cut can help you with this winter. Leave a message on
          <a href="../view/contact.php">the contacts page</a> to get a quote before the next big snow storm!
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Firewood Sales</h1>
        <hr>
      </div>
      <div class="col-md-8">
        <p>For those of you with wood burning stoves, Sharp Cut can provide you with your next winter season's
          firewood at unbeatable prices. All firewood is split to perfection by Jim himself, using nothing
          but choice, aged wood that's gauranteed to burn well. Both small and large purchases are available, with
          discounted prices for larger amounts.</p>
      </div>
      <div class="col-md-4">
        <img class = "img-responsive" src="../img/firewood-thumbnail.jpg" alt="Snow Plow">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>