<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Customer Testimonials</h1>
        <hr>
        <h5 class="text-center">If you are satisfied with your service <a href="add-testimonial.php">upload 
          your testimonial</a></h5>
      </div>
      <br>
    </div>
  </div>
  <?php echo $testimonials; ?>
  <div class="row">
    <div class="box">
      <div class="col-lg-12 testimonial">
        <h2>Patel Family
          <br>
          <small>December 18, 2014</small>
        </h2>
        <div class="col-md-4">
          <img class="img-responsive" src="../img/patel-house.jpg" alt="Sharp Cut Testimonial - Patel Family">
        </div>
        <div class="col-md-8">
          <p>I was trying to figure out the best way to convey to others what we feel about Jim and his work so I decided               to use an analogy.<br>I am sure many of you who are reading this testimonial are parents like me.  My wife
            and I are blessed with two beautiful little kids ... but imagine if we had a third child and it was 
            our "lawn".... Well, if that was the case, Jim IS at the top of our list to "babysit our lawn".  As you know 
            by being a parent ... when it comes to finding a good babysitter, you look for someone who is honest,
            dependable, pays close attention to detail, has a great work ethic, and most importantly is trustworthy.
            These are the exact characteristics that Jim demonstrates each and every time he comes to our house to 
            either take care of our lawn, our landscaping, plow the driveway, or do small miscellaneous jobs around 
            the house.  In essence, when it comes to Jim and his work, we have complete peace of mind!<br>This analogy 
            is in no way an overstatement in how we feel about Jim and his work. <br> We encourage you to give 
            Jim/Sharp Cut a shot to “babysit” your lawn/house! </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12 testimonial">
        <h2>Justin Johnson
          <br>
          <small>December 15, 2014</small>
        </h2>
        <div class="col-md-4">
          <img class="img-responsive" src="../img/johnson-family.jpg" alt="Sharp Cut Testimonial - Justin Johnson">
        </div>
        <div class="col-md-8">
          <p>Jim does excellent work no matter what project he's presented with. He's the hardest working man I've ever 
            known, someone who does not believe in taking short cuts and who takes pride in a job well done. I
            gaurantee that you will be beyond satisfied if you decide to use Sharp Cut to maintain your lawn
            or tackle your next big landscaping project.
          </p>
          <p>
            I know this because I spent 6 years working by his side when Sharp Cut first went into business. I'm no longer
            there to help out but I can definitely vouch for his hard work and determination.
          </p>
          <p>
            Merry Christmas Dad! I hope you like Sharp Cut's new web page!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12 testimonial">
        <h2>Mary Ruth Johnson
          <br>
          <small>July of 2002</small>
        </h2>
        <div class="col-md-4">
          <img class="img-responsive" src="../img/ruth-johnson.jpg" alt="Sharp Cut Testimonial - Ruth Johnson">
        </div>
        <div class="col-md-8">
          <p>I've had the pleasure of working with Jim long before he established Sharp Cut. I am happy
            to see that he is expanding and sharing his hard work and knowledge with the rest of the
            community.</p>
        </div>
      </div>
    </div>
  </div>
</div>